.user-form{
    background-color: #ffffffff;
    width: 100vw;
    height: 60vh;
    padding: 0.5rem;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}

.container-user-form{
    width: 60%;
    margin: auto;
}

.container-title{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 90%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h2{
    display: flex;
    align-items: center;
}

.logo{
    height: 3rem;
    width: 3rem;
}

.container-user-inputs{
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container-user-buttons{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.icon{
    margin-right: 0.4rem;
}

.icon i{
    width: 1rem;
}

.container-input-name{
    display: flex; 
    align-items: center;  
}

.container-input-name div{
    width: 100%;
}

.container-input-email{
    display: flex;
    align-items: center;
}

.container-input-password{
    display: flex;
    align-items: center;
}

.container-input-password div{
    display: flex;
}

.container-input-date{
    display: flex;
    align-items: center;
}


.input-name{
    width: 8rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    margin-right: 1.2rem;
    padding: 0.3rem;
    padding-left: 1rem;
    border: 0.1rem solid #000000;
    border-radius: 1rem;
}

.input-email{
    width: 8rem;
    padding: 0.3rem;
    padding-left: 1rem;
    border: 0.1rem solid #000000;
    border-radius: 1rem;
}

.input-password{
    width: 6rem;
    padding: 0.3rem;
    padding-left: 1rem;
    border: 0.1rem solid #000000;
    border-right: none;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.button-password{
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    background-color: transparent;
    border: 0.1rem solid #000000;
    border-left: none;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.button-password i{
    font-size: 0.8rem;
}

.input-date{
    width: 8rem;
    padding: 0.3rem;
    padding-left: 1rem;
    border: 0.1rem solid #000000;
    border-radius: 1rem;
}

.input-name, .input-email, .input-password, .input-date:focus{
    outline: none;
}

.container-user-buttons button{
    width: 4.5rem;
    height: 2rem;
    background-color: #7027A0;
    border: none;
    border-radius: 1rem;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
}

.container-user-buttons button:hover{
    background-color: #1DB9C3;
}

@media only screen and (max-width:290px){

}